name: Pull Request Clean Up

on:
  pull_request:
    types: [closed]
    branches:
      - main

env:
  PACKAGE_SCOPE: '@fhidev'
  PACKAGE_NAME: 'pull-request-${{ github.event.repository.name }}'

jobs:
  build:
    runs-on: ubuntu-latest
    environment: development
    steps:
      - name: Close Preview Environment
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STORYBOOK_API_TOKEN }}
          action: 'close'

      - name: Delete staging package
        uses: actions/github-script@v8
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            try {
              await github.rest.packages.deletePackageForOrg({
                package_type: "npm",
                package_name: `${{ env.PACKAGE_SCOPE }}/${{ env.PACKAGE_NAME }}`,
                org: "FHIDev"
              })
            } catch (error) {
             if (error.status === 404) {
                console.log("No existing package to delete.");
                return;
              }
                throw error;
              }